/* @import url("/fonts/GreatVibes-Regular.ttf"); */
:root {
  --sage: #5e8e76;
  --dark-sage: #6d9a84;
  --svg-postition: -80px;
}

.index-hero {
  display: flex;
  flex-direction: column;
  min-height: 900px;
  color: white;
  position: relative;
  overflow: hidden;
}

.index-hero::before {
  position: absolute;
  content: "";
  inset: 0;
  z-index: -1;
  filter: blur(4px);
  background-image: url("/images/hockwold-hall.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.index-hero::after {
  position: absolute;
  content: "";
  inset: 0;
  z-index: -1;
  background: black;
  opacity: 0.4;
}

#title {
  text-align: center;
  margin: 0 auto;
  font-size: clamp(5rem, 1.5rem + 8vw, 10rem);
  font-weight: 900;
  letter-spacing: -0.05ch;
}

#time-place {
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: 0.05ch;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  margin: 0 auto;
  font-weight: bold;
  margin-bottom: 100px;
}

#time-to-wedding {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 4rem;
}

@media screen and (min-width: 900px) {
  #time-to-wedding {
    flex-direction: row;
  }
}

.time {
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.time span:first-child {
  /* font-family: "Great Vibes", monospace; */
  font-family: "Times New Roman", Times, serif;
  font-size: 4rem;
  font-weight: bold;
}

.time span:last-child {
  font-family: "Times New Roman", Times, serif;
  font-size: 2.5rem;
  letter-spacing: 0.2ch;
  opacity: 0;
  transform: translateY(-10px);
  animation: show 1s forwards ease;
}

.time:nth-child(1) span:last-child {
  animation-delay: 1s;
}
.time:nth-child(2) span:last-child {
  animation-delay: 1.2s;
}
.time:nth-child(3) span:last-child {
  animation-delay: 1.4s;
}
.time:nth-child(4) span:last-child {
  animation-delay: 1.6s;
}

@keyframes show {
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
.rsvp {
  background-color: #6d9a84;
  color: white;
}
.rsvp-form {
  max-width: 800px;
  padding: 4rem 0.25rem;
  margin: 0 auto;
}

.rsvp-form button[type="submit"] {
  appearance: none;
  margin: 0 auto;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  border: none;
  box-shadow: none;
  background-color: #5e8e76;
  color: white;
  font-size: 1rem;
  letter-spacing: 0.05rem;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group,
.form-group input {
  width: 100%;
  border-radius: 4px;
  appearance: none;
  border: none;
  box-shadow: none;
}

.form-group label,
.form-group input {
  display: block;
}
.rsvp-form label {
  margin-bottom: 0.3rem;
}

.checkboxes {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.checkbox {
  display: inline-flex;
  gap: 0.3rem;
  align-items: center;
}

.faqs {
  background-color: #5e8e76;
  color: white;
  padding: 0 0.25rem;
  margin: 0 auto;
}

.itenerary {
  background-color: #6d9a84;
  padding: 0 0.25rem;
  color: white;
}

.venue-map-wrapper {
  height: 400px;
  margin: 0 0.25rem;
}

#save-the-date {
  height: 100vh;
  width: 100%;
  background-color: var(--dark-sage);
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: white;
  padding: 1rem;
}

#save-the-date-title {
  font-size: clamp(60px, 100px, 150px);
  font-weight: 400;
  font-family: "Great Vibes", monospace;
  text-align: center;
}

#save-the-date-name,
#save-the-date-info {
  font-family: "Times New Roman", Times, serif;
  font-weight: 400;
  letter-spacing: 1%;
  font-size: clamp(20px, 30px, 40px);
}

body {
  background-color: var(--dark-sage);
}

.bg-svg {
  position: absolute;
  background: none;
  fill: var(--sage);
  width: 50%;
  height: auto;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
}

#bg-svg-1 {
  top: var(--svg-postition);
}
#bg-svg-2 {
  transform: translateX(-50%) rotate(180deg);
  bottom: var(--svg-postition);
}
