#time-to-wedding {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

@media screen and (min-width: 900px) {
  #time-to-wedding {
    flex-direction: row;
  }
}

.time {
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.time span:first-child {
  font-size: 3.5rem;
  font-weight: bold;
}

.time span:last-child {
  font-size: 2rem;
  opacity: 0;
  transform: translateY(-10px);
  animation: show 1s forwards ease;
}

.time:nth-child(1) span:last-child {
  animation-delay: 1s;
}
.time:nth-child(2) span:last-child {
  animation-delay: 1.2s;
}
.time:nth-child(3) span:last-child {
  animation-delay: 1.4s;
}
.time:nth-child(4) span:last-child {
  animation-delay: 1.6s;
}

@keyframes show {
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
.rsvp-form {
  max-width: 800px;
  padding: 0 0.25rem;
  margin: 0 auto;
}

.rsvp-form button[type="submit"] {
  margin: 0 auto;
}

.form-group,
.form-group input {
  width: 100%;
}

.form-group label,
.form-group input {
  display: block;
}
