nav ul {
  display: flex;
  justify-content: end;
  flex-direction: column;
  gap: 1rem;
}

nav a {
  font-size: 1.3rem;
  padding: 0.8rem;
  display: block;
  text-decoration: none;
  color: blue;
}

@media screen and (min-width: 900px) {
  nav ul {
    padding-right: 2rem;
    gap: 4rem;
    flex-direction: row;
  }
}
